body{
    background-color: aquamarine;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 1000px;
}
button{
    background-color: black;
    color: red;
    padding: 14px;
    width: 200px;
    font-size: 30px;
    border-radius: 15px;
}
button:hover{
    background-color: rgb(63, 26, 26);
}
